In [2]:
'''
Title: Batter Performance Table Pt 2
Author: Sam LaFell
Date: 11/5/2022
Purpose: Part 1 didnt seem to work

Granularity: xBA by pitch for each batter. By pitcher handiness.
'''

# Import Libraries
import pandas as pd
pd.set_option('display.max_columns', 500)
import pybaseball as pb
import os
import numpy as np
import re
from datetime import datetime, timedelta

In [3]:
import sys
import pathlib
import os 

# Set base path
base_path = os.path.abspath('/Users/samlafell/Desktop/sports_betting_project')
os.chdir(base_path)

# Add utils folder if not already in system path
if os.path.join(base_path, 'utils') not in sys.path:
    print('adding path')
    sys.path.append(os.path.join(base_path, 'utils'))
    
from utils import get_players, game_performances, plate_appearances, expected_ba

adding path

## Lookup the Player IDs for all players on a specific Team
## Then use this to get their performance information for games in a time period leading up to a certain date

In [14]:
# Generate a lookup table to use in the Game Performances function
atl_players = get_players.get_players('2018-05-13', 'ATL', min_abs_season=10)

In [13]:
atl_players

(      name_last name_first  key_mlbam key_retro  key_bbref  key_fangraphs  \
 0       freeman    freddie     518692  freef001  freemfr01           5361
 1         acuna     ronald     660670  acunr001  acunaro01          18401
 2        albies      ozzie     645277  albio001  albieoz01          16556
 3      inciarte      ender     542255  incie001  inciaen01           4922
 4       camargo      johan     622666  camaj001  camarjo01          14950
 5      markakis       nick     455976  markn001  markani01           5930
 6       flowers      tyler     452095  flowt001  flowety01           9134
 7       swanson     dansby     621020  swand001  swansda01          18314
 8     culberson    charlie     518586  culbc001  culbech01           3298
 9        suzuki       kurt     435559  suzuk001  suzukku01           8259
 10        adams       lane     572669  adaml001  adamsla01          10767
 11      teheran      julio     527054  tehej001  teherju01           6797
 12      santana      danny     542454  santd001  santada01          10322
 13      bourjos      peter     488721  bourp001  bourjpe01           2578
 14         ruiz        rio     547004  ruizr002   ruizri01          14103
 15    toussaint      touki     657053  toust001  toussto01          16929
 16     mccarthy    brandon     435221  mccab001  mccarbr01           4662
 17      newcomb       sean     656794  newcs001  newcose01          16943
 18      sanchez     anibal     434671  sanca004  sanchan01           3284
 19     flaherty       ryan     475247  flahr001  flahery01           7888
 20  foltynewicz       mike     592314  foltm001  foltymi01          10811

     mlb_played_first  mlb_played_last   playerID  yearID  stint teamID lgID  \
 0             2010.0           2022.0  freemfr01    2021      1    ATL   NL
 1             2018.0           2022.0  acunaro01    2021      1    ATL   NL
 2             2017.0           2022.0  albieoz01    2021      1    ATL   NL
 3             2014.0           2022.0  inciaen01    2021      1    ATL   NL
 4             2017.0           2022.0  camarjo01    2021      1    ATL   NL
 5             2006.0           2020.0  markani01    2020      1    ATL   NL
 6             2009.0           2020.0  flowety01    2020      1    ATL   NL
 7             2016.0           2022.0  swansda01    2021      1    ATL   NL
 8             2012.0           2022.0  culbech01    2021      1    TEX   AL
 9             2007.0           2022.0  suzukku01    2021      1    LAA   AL
 10            2014.0           2018.0  adamsla01    2018      1    ATL   NL
 11            2011.0           2021.0  teherju01    2021      1    DET   AL
 12            2014.0           2021.0  santada01    2021      1    BOS   AL
 13            2010.0           2019.0  bourjpe01    2019      1    LAA   AL
 14            2016.0           2021.0   ruizri01    2021      2    COL   NL
 15            2018.0           2022.0  toussto01    2021      1    ATL   NL
 16            2005.0           2018.0  mccarbr01    2018      1    ATL   NL
 17            2017.0           2022.0  newcose01    2021      1    ATL   NL
 18            2006.0           2022.0  sanchan01    2020      1    WAS   NL
 19            2012.0           2019.0  flahery01    2019      1    CLE   AL
 20            2014.0           2021.0  foltymi01    2021      1    TEX   AL

    POS    G     GS  InnOuts    PO    A     E  DP   PB  WP    SB   CS  ZR
 0   1B  159  158.0   4074.0  1252  101   3.0  95  NaN NaN   NaN  NaN NaN
 1   OF   81   80.0   2026.0   134    4   2.0   0  NaN NaN   NaN  NaN NaN
 2   2B  156  156.0   4076.0   231  389   8.0  75  NaN NaN   NaN  NaN NaN
 3   OF   40   17.0    520.0    58    1   0.0   0  NaN NaN   NaN  NaN NaN
 4   3B    1    0.0      6.0     0    0   0.0   0  NaN NaN   NaN  NaN NaN
 5   OF   34   31.0    805.0    54    0   0.0   0  NaN NaN   NaN  NaN NaN
 6    C   22   22.0    552.0   181    5   1.0   0  1.0 NaN  15.0  2.0 NaN
 7   SS  159  158.0   4116.0   185  376  10.0  64  NaN NaN   NaN  NaN NaN
 8   SS    3    3.0     76.0     2    6   2.0   1  NaN NaN   NaN  NaN NaN
 9    C   69   63.0   1671.0   597   33  10.0   5  7.0 NaN  35.0  8.0 NaN
 10  OF    8    2.0     88.0     9    0   0.0   0  NaN NaN   NaN  NaN NaN
 11   P    1    1.0     15.0     0    1   0.0   0  NaN NaN   0.0  0.0 NaN
 12  OF   19   16.0    440.0    33    1   0.0   0  NaN NaN   NaN  NaN NaN
 13  OF   23   11.0    360.0    29    0   0.0   0  NaN NaN   NaN  NaN NaN
 14  OF    2    0.0      9.0     0    0   0.0   0  NaN NaN   NaN  NaN NaN
 15   P   11   10.0    150.0     2    6   1.0   0  NaN NaN   4.0  0.0 NaN
 16   P   15   15.0    236.0     4   18   1.0   4  NaN NaN   NaN  NaN NaN
 17   P   32    0.0     97.0     1    5   0.0   0  NaN NaN   0.0  2.0 NaN
 18   P   11   11.0    159.0     5    5   1.0   1  NaN NaN   NaN  NaN NaN
 19  3B   11    5.0    171.0     5    9   0.0   0  NaN NaN   NaN  NaN NaN
 20   P   28   24.0    417.0     4   13   1.0   1  NaN NaN   2.0  3.0 NaN  ,
          playerID  yearID  stint teamID lgID POS    G    GS  InnOuts   PO   A  \
 0       abercda01    1871      1    TRO  NaN  SS    1   1.0     24.0    1   3
 11      armstbo01    1871      1    FW1  NaN  OF   12  12.0    345.0   29   2
 12      barkeal01    1871      1    RC1  NaN  OF    1   1.0     27.0    2   0
 18      barrofr01    1871      1    BS1  NaN  OF   17  16.0    441.0   28   1
 30      berkena01    1871      1    PH1  NaN  OF    1   1.0     30.0    3   0
 ...           ...     ...    ...    ...  ...  ..  ...   ...      ...  ...  ..
 147075  zimmejo02    2021      1    MIL   NL   P    2   0.0     17.0    0   1
 147076  zimmeky01    2021      1    KCA   AL   P   52   2.0    162.0    4   5
 147077  zimmery01    2021      1    WAS   NL  1B   54  45.0   1202.0  338  15
 147078  zuberty01    2021      1    KCA   AL   P   31   0.0     82.0    1   3
 147079  zuninmi01    2021      1    TBA   AL   C  105  97.0   2581.0  909  37

           E  DP    PB  WP    SB    CS  ZR
 0       2.0   0   NaN NaN   NaN   NaN NaN
 11      7.0   0   NaN NaN   NaN   NaN NaN
 12      0.0   0   NaN NaN   NaN   NaN NaN
 18      6.0   0   NaN NaN   NaN   NaN NaN
 30      0.0   0   NaN NaN   NaN   NaN NaN
 ...     ...  ..   ...  ..   ...   ...  ..
 147075  0.0   0   NaN NaN   0.0   0.0 NaN
 147076  0.0   3   NaN NaN   2.0   1.0 NaN
 147077  0.0  30   NaN NaN   NaN   NaN NaN
 147078  0.0   0   NaN NaN   0.0   0.0 NaN
 147079  5.0   2  10.0 NaN  47.0  13.0 NaN

 [19964 rows x 18 columns])

In [5]:
# If Game Date is after 5/1, do this, else we will need previous season numbers
game_performances_df = game_performances.game_performances('2018-05-13', atl_players, lookback_period=28)

Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data
Gathering Player Data

In [7]:
# Get plate appaearnce info in this time
atbats = plate_appearances.plate_appearances(game_performances_df, min_pas = 15, p_handiness=False)

# Get Expected BA Count
expected_ba_df = expected_ba.expected_ba(game_performances_df, atbats.batter.values, p_handiness=False)

# Batters PAs and xBA to date
pas_xba = atbats.merge(expected_ba_df, how='inner', on='batter').rename(columns={'estimated_ba_using_speedangle':'xBA'})
pas_xba.sort_values('xBA', ascending=False)

    batter   PA       xBA
5   518692  106  0.420241
2   455976  108  0.380409
1   452095   25  0.370882
4   518586   22  0.361462
7   621020   62  0.345474
10  660670   72  0.344102
6   542255  110  0.335621
9   645277  113  0.307402
3   475247   62  0.303538
8   622666   56  0.301314
0   435559   72  0.286500

# Conclusion
Now, I have batter performance in the last x days from the current day game for a team, let's move to Pitching performances